[project]
	description = Nintendo 3DS emulator/debugger
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sebastian Valle (Subv)
[access "refs/for/refs/*"]
	read = group user/Sebastian Valle (Subv)
	push = group user/Sebastian Valle (Subv)
	label-Code-Review = -2..+2 group user/Sebastian Valle (Subv)
	label-Verified = -1..+1 group user/Sebastian Valle (Subv)
	rebase = group user/Sebastian Valle (Subv)
	removeReviewer = group user/Sebastian Valle (Subv)
	submit = group user/Sebastian Valle (Subv)
[access "refs/heads/*"]
	read = group user/Sebastian Valle (Subv)
	create = group user/Sebastian Valle (Subv)
	push = +force group user/Sebastian Valle (Subv)
	pushMerge = group user/Sebastian Valle (Subv)
[access "refs/tags/*"]
	push = +force group user/Sebastian Valle (Subv)
	pushTag = group user/Sebastian Valle (Subv)
	pushSignedTag = group user/Sebastian Valle (Subv)
